body {
    background-color: black;
}

header {
    color:white;
    background-image: url("./images/james-kovin-F2h_WbKnX4o-unsplash.jpg");
    height: 400px;
    background-size: cover;
 
    max-width: 1080px;
    margin: 20px auto;
}

#header {
    text-align: center;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header h1 {
    font-size: 40px;
}

#header p {
    font-size: 25px;
    text-transform: capitalize;
}

@media only screen and (max-width: 720px) {
    #header p {
        font-size: 20px;
    }

    #header h1 {
        font-size: 30px;
    }

    header {
        height: 300px;
    }

}

#ideaMaker {
    color:white;
    background-image: url("./images/xk-kong-5soFCx4bRa8-unsplash.jpg");
    height: 400px;
    background-size: cover;
    margin: 0 10px;
    max-width: 1080px;
    margin: 20px auto;
}

#ideaContainer {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    text-align: center;

}

#ideaContainer button {
    margin: 20px auto;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid whitesmoke;
    height: 30px;
    width: 150px;
    box-shadow: 2px 2px 2px whitesmoke;
}

#ideaContainer button:active {
    box-shadow: 0 0 0 ;
    margin-left: 2px;
    margin-top: 22px;
}

#ideaContainer button:hover {
    text-decoration: underline;
    background-color: rgba(255,255,255,.8);
    color: black;
    transition: background .2s 0.3s linear;
}


#ideaContainer h2 {
    margin: 75px auto;
    text-transform: capitalize;
}

#ideaContainer p {
    font-size: 20px;
    letter-spacing: 1px;;
}

@media only screen and (max-width: 720px) {
    #ideaContainer h2 {
        margin: 50px auto;
        text-transform: capitalize;
    }

    #ideaMaker {
        height: 300px;
    }
}

footer h3 {
    color: white;
    margin: 50px auto;
    text-align: center;
}